<!DOCTYPE html>
<html lang="en" dir="ltr" >
  <head>
    <meta charset="utf-8">
    <title>tutorial</title>
  </head>

  <body ng-app="mod" ng-controller="cont1" ng-cloak="">
    <h2>Customers</h2>
    filter :<input ng-model="tttt"> <span>{{tttt}}</span>
    <br/><br/>
    <table>
     <thead>
       <th ng-click="dosort('name')">Name</th>
       <th ng-click="dosort('city')">City</th>
       <th ng-click="dosort('ordertotal')">Order ordertotal</th>
       <th ng-click="dosort('joined')">joined</th>
     </thead>
     <tbody>
       <tr ng-repeat="cust in customers | filter:tttt | orderBy:sortme:reverse">
         <td>{{cust.name}}</td>
         <td>{{cust.city}}</td>
         <td>{{cust.ordertotal |currency}}</td>
         <td>{{cust.joined }}</td>
       </tr>
     </tbody>
    </table>
    <br/>
     Total Customers = <span>{{customers.length}}</span>
    <script src="js/angular.js"></script>
  <script src="app.js"></script>
  <script src="app/controller/customercontroller.js"></script>


  </body>
</html>
